@page
@using System.Collections
@using System.Linq
@model IndexModel
@{
    ViewData["Title"] = "Environment variables";
}

<table>
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Value
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ev in Environment.GetEnvironmentVariables().Cast<DictionaryEntry>().OrderBy(ev => ev.Key))
    {
        <tr>
            <th>
                @ev.Key
            </th>
            <td>
                @ev.Value
            </td>
        </tr>
    }
    </tbody>
</table>
